@font-face {
  src: url("azzur.ttf");
  font-family: azzur;
}


body{
  margin: 0;
  color: #EEEEEE;
  font-family: azzur, sans-serif;
}


.container {
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #064E3B;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  font-size: 1.5rem;
}

h3 {
  margin: 15px 0;
  font-family: 'Verdana';
  color: #EEEEEE;
}

h1 {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #F94F6D;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 4px;
}

button {
 background-color: inherit;
 color: #9AABD8;
 font-family: inherit;
 padding: 6px 10px;
 border: 2px solid #9AABD8;
 border-radius: 5px;
 cursor: pointer;
}

button:hover {
  background-color: #0d644d ;
  padding: 5px 9px;
  color: #86a1e9;
}

#reset-btn {
  color: red;
  font-size: 1rem;
  padding-top: 10px;
  border-color: red;
}



